<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatische Bewässerung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Bewässerungssteuerung</h1>
        <!--Anzeige der Werte-->
        <div class="sensor-data">
            <h2>Digitaler Wert: <span id="moistureD">--</span></h2>
            <h2>Analoger Wert:<span id="moistureA">--</span></h2>
            <!-- Trigger-Wert Steuerung -->
        <div class="trigger-control">
            <h2>Trigger-Wert: <span id="trigger-value">--</span></h2>
            <input type="number" id="trigger-input" placeholder="Neuer Trigger-Wert">
            <button onclick="setTrigger()">Setzen</button>
        </div>
        </div>
        <!--Navigations Button-->
        <div class="controls">
            <button onclick="ZurMainpage()">Zurück zur Startseite</button>
        </div>
        <!--Grafiken für die Feuchtigkeitsverläufe-->
        <div class="sensor-graphA">
            <h2>Analoger Feuchtigkeitsverlauf</h2>
            <h3></h3>
            <img id="moistureA-plot" src="/moistureA-plot" alt="Moisture A Plot" style="width: 100%; max-width: 800px;">
        </div>
        <div class="sensor-graphD">
            <h2>Digitaler Feuchtigkeitsverlauf</h2>
            <img id="moistureD-plot" src="/moistureD-plot" alt="Moisture D Plot" style="width: 100%; max-width: 800px;">
        </div>
    </div>
</body>
</html>