<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1>Hallo Willkommen auf der Bewässerungssterung</h1>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>   
    <p id="imp" class="imp-class"></p>    
    <button onclick="ZurInfo()">Weiter zur Info</button>
    <button onclick="ZumBedienpanel()">Weiter zum Bedienpanel</button>
</body>
</html>